.gift_img{
	height: 100px;
	width: 100px;
}

.cat_img{
	width: 200px;
}

.button-center{
	text-align: center;
}

.carousel_img{
	height: auto;
	width: 100%;
}

.gift-highlight{
	height: 200px;
	width: 100%;
}

.gift-external{
	height: 241px;
}